.pages {
    margin-top: 100px;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 80px;
}
.pages::-webkit-scrollbar {
    display: none;
}
.select-option-filter ion-radio {
    --color-checked: var(--ion-color-secondary) !important;
}

.attendance-detail {
  --background: var(--ion-color-light);
  --border-radius: 5px;
  --border-color: var(--ion-color-light);
    margin-bottom: 10px;
    --min-height :50px;
}

.class-list-item {
    --min-height :100px;
    --border-radius: 5px;
    margin-bottom: 10px;
}
.subject-title {
    margin-bottom: 5px!important;
}
.subject-text {
    font-weight: bold!important;
}
.subject-sched {
    padding-top: 5px;
}
.text-right {
    text-align: right;
}
.notification-created {
    font-size: 12px!important;
    margin-top: 0!important;
}
.back-button {
    height: 54px;
}


.grid-no-padding {
    --ion-grid-column-padding : 0!important;
}